{% extends '::template.html.twig' %}

{% block title %}Edit Job{% endblock %}
{% block pagename %} Edit Job Form{% endblock %}
{% block content %}
    <div class="main-content">
        <div class="row">
            <div class="col-md-6">
                <div class="widget">
                    <div class="widget-content-white glossed">
                        <div class="padded">
                            <form action="{{ path('job_update',{'job' : job.id}) }}" method="post" role="form">
                                <h3 class="form-title form-title-first"><i class="icon-terminal"></i> Update Job #{{ job.id }}</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Assign To:</label>
                                            <select name="user" id="jobtype" class="selectpicker" data-live-search="true" tabindex="-98">
                                                {% for user in users %}
                                                    <option value="{{ user.id }}" {% if job.assignedUserId.id == user.id %} selected {% endif %}>
                                                        {{ user.name}} {{ user.lastname}}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Job Type: </label>
                                            <select name="jobtype" id="jobtype" class="selectpicker" data-live-search="true" tabindex="-98">
                                                {% for jobtype in jobtypes %}
                                                    <option value="{{ jobtype.getId() }}" {% if job.jobTypeId.id == jobtype.getId() %} selected {% endif %}>
                                                        {{ jobtype.getJobType() }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Deadline: </label>
                                    <input type="date" name="deadline_date" value="{{ job.assignDate|date('Y-m-d') }}">
                                    <input type="time" name="deadline_time" value="{{ job.assignDate|date('H:m:s') }}">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="status" value="{{ job.jobStatus }}">
                                </div>
                                <div class="form-group">
                                    <label>Job Description: </label>
                                    <textarea class="form-control" rows="5" name="job_desc" >{{ job.jobDescription }}</textarea>
                                </div>

                                <input type="submit" class="btn btn-primary" value="Update">

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ asset('assets/js/bootstrap-select.js') }}"></script>


{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-select.css') }}"/>

{% endblock %}