{% extends '::template.html.twig' %}

{% block title %}Show Jobs{% endblock %}
{% block pagename %} All Jobs {% endblock %}
{% block content %}
<div class="main-content">
    <div class="widget">
        <h3 class="section-title first-title"><i class="icon-table"></i> Jobs:</h3>
        <div class="widget-content-white glossed">
            <div class="padded">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>job_type</th>
                        <th>assigned</th>
                        <th>referrer</th>
                        <th>assign_date</th>
                        <th>deadline</th>
                        <th>job_status</th>
                        <th class="text-right">
                            <a href="{{ path('job_add') }}" class="btn btn-success btn-xs">
                                <i class="icon-plus"></i> add</a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {%  for job in jobs %}
                        <tr>
                            <td>{{ job.id }}</td>
                            <td>
                                <a tabindex="0" class="btn btn-default btn-xs" title="{{ job.jobTypeId.getJobType() }}"
                                   data-toggle="popover" data-placement="right" data-trigger="focus"
                                   data-content="{{ job.jobDescription }}"> <i class="icon-question-sign"></i></a>
                                {{ job.jobTypeId.getJobType() }}
                            </td>
                            <td>{{ job.assignedUserId }}</td>
                            <td>{{ job.referrerUserId }}</td>
                            <td>{{ job.assignDate|date('Y-m-d H:i:s') }}</td>
                            <td>{{ job.deadline|date('Y-m-d  H:i:s')  }}</td>
                            {% if  job.jobStatus == 'new assigned' %}
                                {% set span_class = 'label-warning' %}
                            {% elseif job.jobStatus == 'pending'%}
                                {% set span_class = 'label-success' %}
                            {% elseif job.jobStatus == 'cancelled'%}
                                {% set span_class = 'label-danger' %}
                            {% endif %}
                            <td><span class="label {{ span_class|default('label-info') }}">{{ job.jobStatus }}</span></td>
                            <td class="text-right">
                                <a href="{{ path('job_edit',{'job' : job.id}) }}" class="btn btn-default btn-xs"><i class="icon-pencil"></i> edit</a>
                                <a href="{{ path('job_delete',{'job' : job.id}) }}"
                                   class="btn btn-danger btn-xs"  class="btn btn-danger" data-toggle="confirmation" data-popout="true"
                                   data-title="Are you sure to delete this?" data-btn-ok-label="Yes, Sure!" data-btn-ok-class="btn-sm btn-success"
                                   data-btn-ok-icon-class="material-icons" data-btn-ok-icon-content="check"
                                   data-btn-cancel-label="Cancel" data-btn-cancel-class="btn-sm btn-danger"
                                   data-btn-cancel-icon-class="material-icons" data-btn-cancel-icon-content="close"
                                   data-content="This might be dangerous" data-placement="left">
                                    <i class="icon-remove"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ asset('assets/js/bootstrap-select.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/js/bootstrap-confirmation.js') }}"></script>


    <script>
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
        });
        $('.popover-dismiss').popover({
            trigger: 'focus'
        });

        $('[data-toggle=confirmation]').confirmation({
            rootSelector: '[data-toggle=confirmation]',
            // other options
        });
    </script>


{% endblock %}

{% block stylesheets %}
{% endblock %}
